/*---  Horizontal  ---*/

[data-layout="horizontal"] {
	.main-header {
		box-shadow: none;
	}

	&[datat-menu-style="gradient"] {
		.main-sidemenu {
			.slide-left,
			.slide-right {
				background: linear-gradient(to right, #{$primary} 0%, #9022c7 360%);
				border: 1px solid $primary;
			}
		}
	}

	&[data-menu-style="color"],
	&[data-menu-style="dark"],
	&[data-menu-style="gradient"] {
	  .desktop-logo-dark {
		display: block !important;
	  }
  
	  .theme-logo {
		display: none !important;
	  }
	}
	.input-icon {
	  position: relative;
	  margin-inline-start: 27px;
	  margin-top: 0px;
	}
	&[data-theme-color="dark"] {
  
	  &[data-menu-style="light"],
	  &[data-menu-style="color"],
	  &[data-menu-style="dark"],
	  &[data-menu-style="gradient"] {
		.desktop-logo-dark {
		  display: none !important;
		}
  
		.theme-logo {
		  display: block !important;
		}
	  }
	}
  
	&[data-header-style="color"],
	&[data-header-style="dark"],
	&[data-header-style="gradient"] {
	  .desktop-logo-dark {
		display: none !important;
	  }
  
	  .theme-logo {
		display: block !important;
	  }
	}
  
	&[data-theme-color="dark"] {
	  &[data-header-style="light"] {
		.desktop-logo-dark {
		  display: block !important;
		}
  
		.theme-logo {
		  display: none !important;
		}
	  }
	}
  
  
	.sticky-pin {
	  position: fixed;
	  inset-block-start: 0;
	  width: 100%;
	  z-index: 999;
	}
  
	.side-menu .side-menu__item:hover .side-menu__label {
	  margin-inline-start: 0px;
	  transition: none;
	}
  
	.side-menu__label {
	  transition: none;
	}
  
	.side_menu_img {
	  inset-inline-start: 8px;
	}
  
	@media (min-width: 992px) {
	  .app-header {
		box-shadow: none;
	  }
  
	  .main-header-menu-icon {
		display: none;
	  }
  
	  .main-header .main-header-left .main-logo {
		display: block;
	  }
  
	  .main-header-left.sidemenu {
		display: none;
	  }
  
	  .side-header {
		padding-inline-start: 0px;
	  }
  
	  .sidebar-mini .app-sidebar .main-sidemenu {
		margin-block-start: 0px;
	  }
  
	  .sub-angle2 {
		inset-inline-end: 22px;
	  }
  
  
	  .ps>.ps__rail-y>.ps__thumb-y {
		display: none;
	  }
  
	  .horizontal-main .sub-slide2 .sub-slide-menu1 {
		width: 10rem;
		inset-inline-start: 140px;
		inset-block-start: 13px;
		position: absolute;
		background: #{$sidemenu-bg};
		z-index: 9999;
		border-radius: 4px;
		padding: 5px;
		min-width: fit-content;
		border: 1px solid #{$border};
	  }
  
	  .app-sidebar {
		border-block-end: 1px solid #{$border} ;
		border-inline-start: 0;
		border-inline-end: 0;
	  }
  
	  .main-footer {
		padding: 0.9rem 1rem !important;
	  }
  
	  .horizontal-main {
		z-index: 99 !important;
	  }
  
	  .hor-header .container,
	  .horizontal-main .container,
	  .main-content.horizontal-content .container {
		max-width: 85%;
		padding: 0;
	  }
  
	  .page-header {
		--muted: rgba(60, 72, 88, 0.7);
  
		background: transparent;
		box-shadow: none;
		border-block-end: 0;
  
		.vr {
		  width: 0;
		}
	  }
  
	  &[data-theme-color="dark"] .page-header {
		--muted: #828b9d;
	  }
  
	  .app-sidebar .side-item.side-item-category {
		display: none;
	  }
  
	  .side-menu {
		display: flex;
		overflow: hidden;
	  }
  
	  .main-sidemenu {
		margin-block-start: 0;
	  }
  
	  .app-sidebar__header {
		display: none;
	  }
  
	  .horizontal-main {
		width: 100%;
		position: relative;
		inset-block-end: initial;
  
		&.ps {
		  overflow: visible !important;
		  z-index: 7 !important;
		}
  
		.slide {
  
		  .slide-menu,
		  .sub-slide-menu {
			position: absolute;
			width: 11rem;
			background: #{$sidemenu-bg};
			z-index: 9999;
			border-radius: 4px;
			padding: 5px;
			min-width: fit-content;
			border: 1px solid #{$border};
		  }
		}
	  }
  
	  .slide-item,
	  .sub-side-menu__item {
		white-space: nowrap;
	  }
  
	  .slide.is-expanded .sub-slide-item2:before {
		inset-inline-start: 5px !important;
	  }
  
	  .sub-slide-menu .sub-slide-item2 {
		padding-block: 8px !important;
		padding-inline-start: 20px !important;
		padding-inline-end: 20px !important;
	  }
  
	  .sub-slide .sub-slide-menu {
		position: absolute;
		background: #{$sidemenu-bg};
		z-index: 9999;
		border-radius: 4px;
		padding: 0px;
		min-width: fit-content;
		border: 1px solid #{$border};
		inset-inline-start: 150px;
		inset-block-start: 13px;
	  }
  
	  .side-menu>li>a {
		display: flex;
		text-decoration: none;
		position: relative;
		padding: 18px 16px !important;
		font-weight: 400;
	  }
  
	  .main-sidemenu i.angle {
		  position: relative;
		  inset-block-start: 0px;
		  inset-inline-end: -4px;
		  transform: rotate(90deg);
		  font-size: 15px;
		  transition: all 0.5s ease;
		  color: $color;
		  
	  }
  
	  .main-sidemenu .slide.is-expanded i.angle {
		transform: rotate(-90deg) !important;
	  }
  
	  .breadcrumb-header {
		margin-block-start: 20px;
	  }
  
	  .slide {
		margin: 0 !important;
		padding: 0 !important;
		position: static;
	  }
  
	  .responsive-logo {
		display: block;
	  }
  
	  .app-sidebar__toggle {
		display: none;
	  }
  
	  .mobile-logo.dark-logo-1 {
		display: none;
	  }
  
	  .main-content {
		margin-inline-start: 0px !important;
	  }
  
	  .main-sidemenu .slide-right {
		inset-inline-end: 0;
	  }
  
	  .main-sidemenu {
		.slide-left,
		.slide-right {
			position: absolute;
			inset-block-start: 14px;
			width: 40px;
			height: 40px;
			background-color: $background;
			border: 1px solid $border;
			border-radius: 50%;
			color: $white;
			display: flex;
			align-items: center;
			justify-content: center;
			z-index: 1;
			cursor: pointer;
		}
	}
	.main-sidemenu {
		.slide-right {
			inset-inline-end: 30px;
		}
		.slide-left {
			inset-inline-start: 30px;
		}
	}
  
	  .horizontal-main {
		position: relative;
		margin: 0px auto;
		box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
	  }
  
	  .main-sidemenu {
		overflow: hidden;
	  }
  
	  .stickyClass {
		position: fixed;
		inset-block-start: 0;
		width: 100%;
		z-index: 9;
	  }
  
	  .hor-header {
		border-bottom: 1px solid #{$border};
		padding-inline-start: 0;
		z-index: 1000 !important;
		transition: none;
		// position: relative !important;
  
		&.stickyClass {
		  z-index: 1 !important;
		  position: relative !important;
		}
  
		.responsive-logo {
		  display: block;
		  padding: 10px;
		}
	  }
  
	  &[dir="ltr"] .horizontal-main .slide.dropdownDirChng .slide-menu {
		inset-inline-end: 0 !important;
		inset-inline-start: initial !important;
	  }
  
	  &[dir="ltr"] .horizontal-main .slide.dropdownDirChng .sub-slide-menu {
		inset-inline-start: -108% !important;
		inset-inline-end: initial !important;
	  }
  
	  .side-menu,
	  .main-sidemenu {
		overflow: visible !important;
	  }
  
	  .app.sidenav-toggled .app-sidebar {
		width: 100% !important;
	  }
  
	  .app-sidebar {
		width: 100% !important;
		box-shadow: 0 0px 4px 0 rgba(0, 0, 0, 0.1);
	  }
  
	  .main-sidemenu.container {
		overflow: hidden !important;
	  }
  
	  &[data-logo="centerlogo"] {
		.responsive-logo {
		  display: block;
		  position: absolute;
		  left: 0;
		  right: 0;
		  margin: 0 auto;
		  text-align: center;
  
		  .mobile-logo {
			margin: 0 auto;
		  }
		}
	  }
	  .app-sidebar .side-menu .side-menu__item .badge {
		display: none;
	  }
	}
  
	@media (min-width:992px) and (max-width: 1499px) {
	  &[data-logo="centerlogo"] {
  
		.layout-setting,
		#fullscreen-button,
		.header-profile-img {
		  display: none !important;
		}
	  }
	}
  
	.vertical-switcher {
	  display: none;
	}
  
	.horizontal-switcher {
	  display: block;
	}
  
	@media (max-width:991px) {
	  .hor-header {
		width: 100%;
		border-bottom: 1px solid #{$border};
	  }
  
	  .app-sidebar.horizontal-main {
		inset-inline-start: -300px;
	  }
  
	  .main-sidemenu {
		padding: 0;
	  }
  
	  .horizontalMenucontainer .app-header.hor-header {
		position: fixed;
	  }
  
	  .slide-left,
	  .slide-right {
		display: none !important;
	  }
  
	  .main-sidemenu.container {
		padding-inline-start: 0 !important;
		padding-inline-end: 0 !important;
	  }
	}
  
	.hor-header.sticky-pin {
	  z-index: 7 !important;
	}
  
	&[data-header-style="dark"][data-menu-style="gradient"] {
	  .main-header {
		border-block-end: 1px solid rgba(var(--border), 0.5) !important;
	  }
	}
  }
   
  [data-hor-style="hor-hover"] {
	@media (min-width: 992px) {
	  .sub-slide2:hover .sub-slide-menu1 {
		display: block !important;
	  }
  
	  .app-sidebar .slide-menu .sub-slide-menu1 a:before {
		inset-inline-start: 20px !important;
		inset-block-start: 11px;
	  }
  
	  .slide {
		&:hover {
		  ul.slide-menu {
			display: block !important;
		  }
		}
	  }
  
	  .sub-slide {
		&:hover {
		  .sub-slide-menu {
			display: block !important;
		  }
		}
	  }
	}
  }
  
  .horizontal-switcher {
	display: none;
  }
  
  @media (max-width: 991px) {
  
	.sidebar-mini .side-menu,
	.sidebar-gone .side-menu {
	  margin-inline: 0 !important;
	}
  
	.main-container.container {
	  max-width: none;
	  padding-inline: 1.25rem;
	}
  }
  
  @media (min-width: 992px) {
	[data-layout=horizontal] .side-menu {
	  display: inline-flex !important;
	  overflow: hidden;
	}
  }
  
  [data-layout=horizontal] {
  
	&[dir="rtl"] .main-sidemenu .slide-right,
	&[dir="rtl"] .main-sidemenu .slide-left {
	  transform: rotate(180deg);
	}
  
	.sidetab-menu {
	  .tabs-menu-body {
		overflow: visible !important;
	  }
	}
	.sub-angle {
		inset-inline-end: 6px;
	}
  }
  
  /*---  Horizontal  ---*/