[data-skins="no-shadow"] {
    --shadow: none !important;
    --shadow-color: none !important;

    .page {
        background-color: rgb(var(--white));

        .card {
            border: 1px solid #{$border};
            box-shadow: none;
        }

        .app-sidebar, .sidebar {
            box-shadow: none;
        }
    }

    &[data-width="boxed"] {
        .page {
            background-color: rgb(var(--white));
        }
    }

}