/*-- Scrollable-layout --*/ 

[data-position="scrollable"] {
    @media (max-width: 991px) {
        .responsive-navbar {
            .navbar-collapse {
                position: absolute !important;
            }

            position: inherit !important;
        }
    }

    @media (min-width: 992px) {
        &[data-layout="horizontal"] {
            .app-sidebar {
                position: relative;
                max-width: 100% !important;
            }

            .main-header {
                position: relative;
            }
            .hor-header{
                position: fixed;
            }
        }

    }

    .main-header {
        position: absolute !important;
        max-width: 100% !important;
    }

    .app-sidebar,
    .app-sidebar__header {
        position: absolute;
    }

    .page {
        position: relative;
    }

    .sticky.sticky-pin {
        position: initial !important;
    }

    &[data-vertical-style="doublemenu"] {
        @media (min-width: 992px) {
            .app .app-sidebar {
                position: absolute !important;
            }
        }
    }
    &[data-vertical-style="doublemenu-tabs"] {
        .app .app-sidebar {
            position: absolute !important;
        }
        .slide-menu .tabs-menu-body {
            max-height: inherit;
            position: relative;
        }
    }
}

/*-- Scrollable-layout --*/ 